main {
  padding: 2em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1em;
  position: relative;
}

.info {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2em;
}

.avatar {
  height: 30em;
  padding: 1em;
  position: relative;
  border: 1px solid #d2d2d2;
  border-radius: 1em;
}

.avatar > img {
  max-width: 20em;
  max-height: 30em;
  background-size: cover;
}

.avatar__edit_btn {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  cursor: pointer;
}

.avatar__edit_btn > img {
  height: 1.2em;
  width: 1.2em;
}

.wins {
  color: green;
}

.loses {
  color: red;
}

.alt_avatars_container {
  height: 30vh;
  padding: 1em;
  display: flex;
  position: absolute;
  top: 15em;
  left: 25em;
  gap: 2em;
  border: 1px solid #d2d2d2;
  border-radius: 1em;
}

.hide {
  display: none;
}

.close-button {
  width: 2em;
  height: 2em;
  cursor: pointer;
}

.close-button-icon {
  width: 2em;
  height: 2em;
}
